/*estilos propios*/

.error-body {
    padding: 50px;
}

.error-icon {
    font-size: 80px;
}

.type-content-select {
    height: 50px;
}

.mjsError {
    margin-top: 15px;
    display: none;
}

.oculto {
    display: none;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-l-30 {
    margin-left: 30px;
}

label {
    margin-bottom: 15px !important;
}

.borrar {
    margin-top: 34px;
}

.agregar {
    margin-top: 34px;
}

.d-flex {
    display: flex;
}

.aling-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.btn-bitcoin {
    color: #fff;
    background-color: #f5bc05;
    border-color: #f5bc05;
}

.contDetalleOferta {
    margin-top: 30px;
    font-size: 18px;
}

.contInfo {
    margin-top: 20px;
    font-size: 16px;
}

.fondoDetallePago {
    background: #eff5f9;
    padding: 15px;
}

.agregar{
    margin-top: 33px !important;
}
.borrar{
    margin-top: 33px !important;
}

.loader-Admin {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #f5bc05;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 10;
}
.overlayLoading{
    z-index: 3000;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.oculto {
    display: none !important;
}


#loading{
    display: block !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #046cf4;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite !important;
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 10;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
